@charset "utf-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: bottom;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* kokokara */

body {
    color: white;
    background: url(./images/1663240298820.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -50;
    position: relative;
}

.box:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -40;
}

.box {
    display: flex;

}

header {
    flex-basis: 100px;
}

.hamburger {
    display: none;
}

main {
    flex-basis: 100%;
    margin-left: 8px;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    border-right: solid 1px #5d5d5d;
    z-index: 1;
}

.header-logo-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 100vh;
    overflow: hidden;
}

.header-list-logo {
    width: 100px;
    text-align: center;
    transition: 0.8s;
    border-bottom: 1px solid #5d5d5d;
}

.header-list-logo:hover {
    transform: scale(1.1);
    border: none;
}

.header-list-item {
    width: 100px;
    height: 10vh;
    margin-top: 12vh;
    text-align: center;
    transition: 0.65s;
    border-bottom: 1px solid #5d5d5d;
}

.header-list-item:hover {
    opacity: 0.8;
    transform: scale(1.3);
    border: none;
}

.about-link {
    transform: scale(1.3);
    border: none !important;
}

.about-link p {
    color: #ffffff;
}

.about-link:hover {
    transform: scale(1.3);
}

.header-logo {
    width: 100%;
    /* max-width: 15px 5vw; */
}

.header-list-item__title {
    font-family: 'Ms Madi', cursive;
    color: white;
    margin-top: 4px;
}

.mono-logo {
    height: 60%;
}

.main-box {
    width: 100%;
}

.inner {
    margin: 0 auto;
    height: 100%;
    max-width: 850px;
}

.header-title {
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 0 0 15px 20px;
    position: relative;
    box-sizing: border-box;
}

.header-title p {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2em;
}

.header-title h1 {
    font-family: 'Ms Madi', cursive;
    font-size: 5rem;
    padding-top: 50px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-left {
    width: 35%;
}

.my-img {
    width: 90%;
    margin: 70px auto 30px;
    border: 5px solid black;
}

.my-img img {
    width: 100%;
}

.main-right {
    width: 63%;
}

.my-title {
    border-bottom: white 1px solid;
}

.my-title h3 {
    font-size: 2rem;
    padding: 16px;
    text-align: left;
    font-family: serif;
}

.my-title span {
    color: gray;
    text-shadow: 1px 1px 1px white;
    letter-spacing: 0.13rem;
}

.my-info dl {
    display: flex;
    margin: 30px 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.my-info dt {
    width: 5rem;
    font-weight: 600;
}

.skill-title {
    font-size: 1.5rem;
    padding: 25px 10px 15px;
    border-bottom: 1px solid white;
    font-family: serif;
}

.tab {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.tab li {
    width: auto;
    width: 20%;
}

.tab li a {
    display: block;
    background: #00000066;
    padding: 10px 10px;
}

.tab li a img {
    width: 100%;
}

.tab li.active a {
    background: rgb(50, 50, 50);
}


.area {
    display: none;
    opacity: 0;
    background: rgb(50, 50, 50);
    padding: 30px 20px;
}

.area.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 15px auto;
    background: #00000066;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 30px;
}

.area h2 {
    font-size: 1.3rem;
    margin: 0 0 20px 10px;
    line-height: 1.5em;
    border-bottom: 1px solid #ddd;
    font-family: serif;
}

.area p {
    padding: 0 10px;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.history-title {
    font-size: 1.5rem;
    padding: 15px 10px;
    border-bottom: 1px solid white;
    font-family: serif;
}

.history-culm {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width : 1024px) {
    .inner {
        width: 80%;
    }

    .header-title {
        border-bottom: 3px white solid;
    }

    .header-title h1 {
        font-size: 4rem;
    }

    .header-title p {
        font-size: 1.5rem;
    }

    .main-content {
        display: block;
    }

    .main-left {
        display: flex;
        width: 100%;
    }

    .my-img {
        width: 45%;
        margin: 50px auto 30px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .my-img img {
        border: 5px solid black;
        box-sizing: border-box;
    }

    .myself {
        width: 50%;
        margin: 24px auto 0px;
    }

    .my-info dl {
        display: block;
        margin: 5px 0;
    }

    .my-info dt {
        line-height: 2rem;
        margin-top: 10px;
    }

    .main-right {
        width: 100%;
    }

    .skill-title {
        width: 90%;
        margin: 0 auto;
    }

    .history-title {
        width: 90%;
        margin: 0 auto;
    }

    .history-culm {
        width: 90%;
        margin: 0 auto;
        line-height: 1.7rem;
    }
}

@media screen and (max-width : 600px) {

    .box {
        display: block;
    }

    .hamburger {
        display: block;

    }

    .hamburger-btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        position: fixed;
        top: 8px;
        right: 2vw;
        z-index: 999;
    }

    .btn-area {
        transition: 0.6s;
        width: 50px;
        height: 50px;
        position: relative;
    }

    .btn-area span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        width: 45%;
    }

    .btn-area span:nth-of-type(1) {
        top: 15px;
    }

    .btn-area span:nth-of-type(2) {
        top: 23px;
    }

    .btn-area span:nth-of-type(3) {
        top: 31px;
    }

    .btn-area.swich .openbtn-area {
        transform: rotate(360deg);
    }

    .btn-area.swich span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }

    .btn-area.swich span:nth-of-type(2) {
        opacity: 0;
    }

    .btn-area.swich span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }

    .open-hd {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        bottom: 120%;
        transition: 0.5s;
    }

    .open-hd.swich {
        bottom: 0;
    }

    .side-bar {
        height: 100px;
        width: 100%;
    }

    .header-logo-box {
        flex-direction: row;
        display: block;
        width: 100%;
        height: 100px;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0) 100%);
    }

    .open-item {
        display: flex;
        width: 90%;
        margin: 24px auto 80px;
        align-items: center;
        border-bottom: #fff 1px solid;
        padding-bottom: 12px;
    }

    .open-item:first-child {
        margin-top: 72px;
    }

    .mono-logo {
        width: 120px;
        height: 40px;
        padding: 0 40px;
        display: block;
    }

    .header-list-item {
        border: none;
        margin-top: 0;
        width: 72px;
        transition: 0.3s;
        display: none;
    }

    .header-list-item:hover {
        transform: scale(1.1);
    }

    .header-list-logo {
        border: none;
        width: 72px;
        margin-left: 2vw;
        margin-top: 0;
        display: block;
    }

    .header-list-logo:hover {
        transform: scale(1.1);
    }

    main {
        margin-left: 0;
    }

    .header-title {
        margin-top: 100px;
    }

    .header-title h1 {
        font-size: 3rem;
    }

    .header-title p {
        font-size: 1.5rem;
    }

    .main-left {
        display: block;
    }

    .my-img {
        width: 90%;
    }

    .myself {
        width: 100%;
    }

    .wrapper {
        padding: 0;
    }

    .skill-title {
        width: 100%;
    }

    .history-title {
        width: 100%;
    }

    .history-culm {
        width: 100%;
    }

    .area.is-active {
        height: 250px;
        overflow: scroll;
    }

    .area h2 {
        font-size: 1.1rem;
        margin: 0;
        padding: 8px 0;
    }

    .area p {
        font-size: 0.9rem;
        padding: 10px;
    }
}