@charset "utf-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: bottom;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* kokokara */

body {
    background: url(./images/image.work2.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: white;
    z-index: -50;
}

body:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -40;
}

.box {
    display: flex;
}

header {
    flex-basis: 100px;
}

.hamburger {
    display: none;
}

main {
    flex-basis: 100%;
    margin-left: 8px;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    border-right: solid 1px #5d5d5d;
    z-index: 1;
}

.header-logo-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 100vh;
    overflow: hidden;
}

.header-list-logo {
    width: 100px;
    text-align: center;
    transition: 0.8s;
    border-bottom: 1px solid #5d5d5d;
}

.header-list-logo:hover {
    transform: scale(1.3);
    border: none;
}

.header-list-item {
    width: 100px;
    height: 10vh;
    margin-top: 12vh;
    text-align: center;
    transition: 0.65s;
    border-bottom: 1px solid #5d5d5d;
}

.header-list-item:hover {
    opacity: 0.8;
    transform: scale(1.3);
    border: none;
}

.works-link {
    transform: scale(1.3);
    border: none !important;
}

.works-link p{
    color: #ffffff;
}

.works-link:hover {
    transform: scale(1.3);
}

.header-logo {
    width: 100%;
}

.header-list-item__title {
    font-family: 'Ms Madi', cursive;
    color: white;
    margin-top: 4px;
}

.mono-logo {
    height: 60%;
}

.main-box {
    width: 100%;
}

.inner {
    margin: 0 auto;
    height: 100vh;
    max-width: 850px;
}

.title {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 32px 0 16px;
    letter-spacing: 0.2em;
}

.title h3 {
    font-size: 1.65rem;
    line-height: 1.5em;
}

.title p {
    padding-left: 20px;
    line-height: 1.5em;
}

.header-title {
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 0 0 15px 20px;
    position: relative;
}

.header-title p {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2em;
}

.header-title h1 {
    font-family: 'Ms Madi', cursive;
    font-size: 5rem;
    padding-top: 50px;
    margin: 0;
}

.header-title p {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2em;
}

.main-sentence {
    margin-top: 40px;
}

.main-sentence p {
    line-height: 1.5em;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    font-family: 'Noto Sans JP', sans-serif;
}

.work-box {
    padding-bottom: 40px;
}

.fadeUp {
    will-change: opacity, transform;
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(32px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.line {
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    height: 220px;
}

.work-item {
    height: 90%;
    width: 45%;
    padding: 6px 10px;
    background-color: rgba(255, 255, 255, 0.199);
    box-sizing: border-box;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.work-item img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: 0.5s;
}

.work-item:hover img {
    transform: scale(1.05);
    filter: none;
}

.work-item span:hover {
    opacity: 1;
}

.work-item img:hover~.work-item-sentence {
    opacity: 1;
    transition: 1s;
}

.work-item span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    line-height: 3em;
    background-color: #5d5d5dbb;
    color: white;
    font-weight: 600;
    opacity: 0;
    font-family: serif;
    letter-spacing: 0.2em;
}

/* modal */
#animatedModal1 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal2 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal3 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal4 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal5 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal6 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal7 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal8 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal9 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal10 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal11 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal12 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal13 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#animatedModal14 {
    width: 90% !important;
    margin: 0 auto !important;
    height: 90% !important;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    animation-duration: 1.2s !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

.modal-content {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-left: 0;
}

.close-animatedModal {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal:hover {
    transform: rotate(135deg);
}

.close-animatedModal1 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal1:hover {
    transform: rotate(135deg);
}

.close-animatedModal2 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal2:hover {
    transform: rotate(135deg);
}

.close-animatedModal3 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal3:hover {
    transform: rotate(135deg);
}

.close-animatedModal4 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal4:hover {
    transform: rotate(135deg);
}

.close-animatedModal5 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal5:hover {
    transform: rotate(135deg);
}

.close-animatedModal6 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal6:hover {
    transform: rotate(135deg);
}

.close-animatedModal7 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal7:hover {
    transform: rotate(135deg);
}

.close-animatedModal8 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal8:hover {
    transform: rotate(135deg);
}

.close-animatedModal9 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal9:hover {
    transform: rotate(135deg);
}

.close-animatedModal10 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal10:hover {
    transform: rotate(135deg);
}

.close-animatedModal11 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal11:hover {
    transform: rotate(135deg);
}

.close-animatedModal12 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal12:hover {
    transform: rotate(135deg);
}

.close-animatedModal13 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal13:hover {
    transform: rotate(135deg);
}

.close-animatedModal14 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transform: rotate(45deg);
    position: fixed;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.close-animatedModal14:hover {
    transform: rotate(135deg);
}

.modal-box {
    width: calc(50% - 32px);
    margin: 16px;
    padding: 12px;
    background-color: #3232327d;
}

.modal-title {
    color: rgb(255, 255, 255);
    margin-top: 56px;
    font-size: 2rem;
    letter-spacing: 0.05em;
    font-family: serif;
}

.modal-title a {
    font-size: 0.9rem;
    text-decoration: underline;
    transition: 0.4s;
    display: block;
    margin-top: 32px;
}

.modal-title a:hover {
    color: gray;
}

.modal-info dl {
    margin: 12px 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.modal-info dt {
    font-weight: 600;
    padding-top: 12px;
    margin-bottom: 8px;
    letter-spacing: 0.1rem;
}

.modal-info dd {
    font-size: 0.9rem;
    width: 90%;
    margin-left: 5%;
    line-height: 1.65rem;
}

.modal-img {
    width: 50%;
}

.modal-img img {
    width: 100%;
    padding: 16px;
}


@media screen and (max-width : 1024px) {
    .inner {
        width: 80%;
    }

    .title {
        letter-spacing: 0.1em;
    }
    
    .title h3 {
        font-size: 1.25rem;
        line-height: 1.5em;
    }
    
    .title p {
        padding-left: 20px;
        line-height: 1.5em;
        font-size: 0.85rem;
    }

    .header-title {
        border-bottom: 3px white solid;
    }

    .header-title h1 {
        font-size: 4rem;
    }

    .header-title p {
        font-size: 1.5rem;
    }

    .main-sentence p {
        font-size: 1.2rem;
    }

    .line {
        display: block;
        height: auto;
        margin-top: 0;
    }

    .work-item {
        height: 30vw;
        width: 60vw;
        margin: 40px auto;
    }

    .work-item img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width : 600px) {

    .box {
        display: block;
    }

    .hamburger {
        display: block;

    }

    .hamburger-btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        position: fixed;
        top: 8px;
        right: 2vw;
        z-index: 999;
    }

    .btn-area {
        transition: 0.6s;
        width: 50px;
        height: 50px;
        position: relative;
    }

    .btn-area span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        width: 45%;
    }

    .btn-area span:nth-of-type(1) {
        top: 15px;
    }

    .btn-area span:nth-of-type(2) {
        top: 23px;
    }

    .btn-area span:nth-of-type(3) {
        top: 31px;
    }

    .btn-area.swich .openbtn-area {
        transform: rotate(360deg);
    }

    .btn-area.swich span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }

    .btn-area.swich span:nth-of-type(2) {
        opacity: 0;
    }

    .btn-area.swich span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }

    .open-hd {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        bottom: 120%;
        transition: 0.5s;
    }

    .open-hd.swich {
        bottom: 0;
    }

    .side-bar {
        height: 100px;
        width: 100%;
    }

    .header-logo-box {
        flex-direction: row;
        display: block;
        width: 100%;
        height: 100px;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0) 100%);
    }

    .open-item {
        display: flex;
        width: 90%;
        margin: 24px auto 80px;
        align-items: center;
        border-bottom: #fff 1px solid;
        padding-bottom: 12px;
    }

    .open-item:first-child {
        margin-top: 72px;
    }

    .mono-logo {
        width: 120px;
        height: 40px;
        padding: 0 40px;
        display: block;
    }

    .header-list-item {
        border: none;
        margin-top: 0;
        width: 72px;
        transition: 0.3s;
        display: none;
    }

    .header-list-item:hover {
        transform: scale(1.1);
    }

    .header-list-logo {
        border: none;
        width: 72px;
        margin-left: 2vw;
        margin-top: 0;
        display: block;
    }

    .header-list-logo:hover {
        transform: scale(1.1);
    }

    main {
        margin-left: 0;
    }

    .header-title {
        margin-top: 100px;
    }

    .header-title h1 {
        font-size: 3rem;
    }

    .header-title p {
        font-size: 1.5rem;
    }

    .work-item {
        width: 78vw;
        height: 39vw;
    }

    .work-item img {
        filter: none;
    }

    .work-item span {
        opacity: 1;
        width: calc(100% - 20px);
        border: none;
    }

    .work-item:hover img {
        transform: none;
    }

    .main-sentence p {
        line-height: 1.5em;
        font-size: 1rem;
        letter-spacing: 0.05em;
    }

    

    /* modal */
    .modal-img {
        display: none;
    }

    .modal-box {
        width: 95%;
        margin: 0 auto;
    }
}
